/* Header */
.header {
    border-bottom: 1px solid #ECECEC;

    &__item {
            position: relative;
            text-decoration: none;
            list-style: none;
        }

    &__nav {
        display: flex;
        align-items: center;
    }
}

.header__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--subtitle-txt);

    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-txt-color);
    }
}

.header__link.current {
    color: var(--accent-txt-color);

    &::after {
            position: absolute;
            content: '';
            display: block;
            left: 0;
            bottom: 0;
            transform: translateY(1px);
            width: 100%;
            height: 4px;
            background-color: var(--accent-txt-color);
            border-radius: 2px;
        }
}

.header__list {
    margin-left: 93px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: center;

    .header__item + .header__item {
            margin-left: 50px;
        }
}

.header__nav {
    display: flex;
    justify-content: space-between;
}





