










.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}



.main {
    display: flex;
    align-items: center;
}





.list .item+.item {
    margin-top: 9px;
}



.list-contact {
    display: flex;
    justify-content: center;
    margin-left: auto;
    padding: 0;
}


.contact-link,
.contact-tel {
    text-decoration: none;
    list-style: none;
}

.filter-list {
    padding: 0px;
    list-style: none;
}



.animate__animated.animate__backInDown,
.animate__animated.animate__infinit {
    --animate-duration: 2s;
}

.animate__animated.animate__fadeInBottomLeft {
    --animate-duration: 5s;
}





/* link to page */


.link {
    color: var(--primary-txt-color);
}

.contact-link .link,
.contact-tel .link {
    display: flex;
    align-items: center;
}

.link {
    display: flex;

    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
    fill: currentColor;
    margin-right: 10px;
}

.link-map {
    display: block;
    margin-top: 20px;

    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.71;

    color: var(--bcg-color);

    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.link:hover,
.link:focus,
.link-map:hover,
.link-map:focus {
    color: var(--accent-txt-color);
}






.checkbox {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.checkbox-text {
    display: inline-block;
    margin-left: 8px;
}




.backdrop {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    ;
    transition: opacity var(--animation-transition),
        visibility var(--animation-transition);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: var(--bcg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 100;
}

.closes {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    color: var(--subtitle-txt);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.closes:hover,
.closes:focus {
    color: var(--accent-txt-color);
}

.modal-close {
    width: 11px;
    height: 11px;
    fill: currentColor;
}

.title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15em;
    text-align: center;

    color: #212121;
}

textarea {

    min-height: 120px;
    resize: none;
    display: block;
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    font-style: normal;

    font-size: 12px;
    line-height: 14px;

    letter-spacing: 0.01em;

    color: #757575;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea::placeholder {
    line-height: 1.14em;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.backdrop-item {
    position: relative;
    min-width: 448px;

    justify-content: flex-start;

}



.backdrop-item:not(:last-child) {
    margin-bottom: 10px;
}

.backdrop-label {
    display: block;
    width: 100%;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17em;

    letter-spacing: 0.01em;

    color: #757575;
}

.backdrop-input {
    display: block;
    width: 448px;
    height: 40px;

    padding-left: 40px;

    font-style: normal;

    font-size: 12px;
    line-height: 1.17em;

    letter-spacing: 0.01em;

    color: #757575;
}

.backdrop-input:hover,
.backdrop-input:focus {
    border: 1px solid #2196F3;
    cursor: pointer;
}







.checkbox-text {
    margin-left: 7px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
    color: #757575;
}

.agreement {
    line-height: 1.71em;
    text-decoration-line: underline;
    color: var(--accent-txt-color);
}



/* Benefits */

.icon-benefits {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--background);
    border-radius: 4px;
}

.icon-benefits:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


























.visit {
    margin-left: 70px;
}

.visit-join {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--main-font-size);
    color: var(--bcg-color);
}























.list-contact .contact-link+.contact-tel {
    margin-left: 50px;
}

.list-contact {
    justify-content: flex-end;
}






















.glider-send {
    position: absolute;
    content: '';
    top: 30%;
    right: 12%;
    display: block;
    fill: #FFFFFF;
    width: 24px;
    height: 24px;
}

