/* Fonts */
:root 
{
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-font-size: 14px;
    --accent-txt-color: #2196F3;
    --logo-txt-color: #000000;
    --subtitle-txt: #212121;
    --primary-txt-color: #757575;
    --hero-bcg: #2F303A;
    --background: #F5F4FA;
    --bcg-color: #FFFFFF;

    --animation-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --backdrop-bgc: rgba(0, 0, 0, 0.2);
}

/* roboto-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin_cyrillic-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto-v30-latin_cyrillic-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto-v30-latin_cyrillic-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto-v30-latin_cyrillic-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto-v30-latin_cyrillic-regular.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin_cyrillic-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/roboto-v30-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto-v30-latin_cyrillic-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto-v30-latin_cyrillic-500.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto-v30-latin_cyrillic-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto-v30-latin_cyrillic-500.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin_cyrillic-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/roboto-v30-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto-v30-latin_cyrillic-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto-v30-latin_cyrillic-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto-v30-latin_cyrillic-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto-v30-latin_cyrillic-700.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v30-latin_cyrillic-900.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/roboto-v30-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto-v30-latin_cyrillic-900.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto-v30-latin_cyrillic-900.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto-v30-latin_cyrillic-900.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto-v30-latin_cyrillic-900.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* raleway-700 - latin_cyrillic */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/raleway-v27-latin_cyrillic-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/raleway-v27-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/raleway-v27-latin_cyrillic-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/raleway-v27-latin_cyrillic-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/raleway-v27-latin_cyrillic-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/raleway-v27-latin_cyrillic-700.svg#Raleway') format('svg');
    /* Legacy iOS */
}


body 
{
    font-family: var(--main-font), sans-serif;
    font-size: var(--main-font-size);
    letter-spacing: 0.03em;
    line-height: 1.71;
    color: #212121;
    background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6, p {margin: 0;}

*:hover, *:focus
{
    outline: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {display: block;
max-width: 100%;
height: auto;}

address {font-style: normal;}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.container .card-list
{
    margin-top: 50px;
}
.list {list-style: none;
    padding-left: 0;
    margin: 0;}

.link {text-decoration: none;}
/* Header */
.header {
    border-bottom: 1px solid #ECECEC;
    }

.header-nav 
{
    display: flex;
    align-items: center;
}

.main {display: flex;
    align-items: center;}

.container ul, li:nth-last-of-type(-n+2) {
    margin-top: 0px;
    margin-bottom: 0px;
}
h2 
{
    margin-bottom: 50px;
}
h3 {margin-bottom: 10px;}
.list .item + .item 
{
    margin-top: 9px;
}

.logo-contact
{
    text-align: left;
}

.list-contact 
{
    display: flex;
    justify-content: center;
    margin-left: auto;
    padding: 0;}
.header-item, .contact-link, .contact-tel 
{
    text-decoration: none;
    list-style: none;
}
.header-item
{
    position: relative;
}


/* logo */
.logo
{
    display: flex;

    font-family: var(--secondary-font), sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-transform: capitalize;
    text-decoration: none;
    
    color: var(--logo-txt-color);
    /* outline: 2px solid tomato; */
}

.animate__animated.animate__backInDown, .animate__animated.animate__infinit {
    --animate-duration: 2s;
}

.animate__animated.animate__fadeInBottomLeft {--animate-duration: 5s;}

.header.logo, .footer .logo 
{
    color: var(--bcg-color);
    }

.logo-cl 
{
    color: var(--accent-txt-color);
}

/* Header */
.header-link.current
{
    color: var(--accent-txt-color);
}

.header-link.current::after
{
    position: absolute;
    content: '';
    display: block;
    left: 0;
    bottom: 0;
    transform: translateY(1px);
    width: 100%;
    height: 4px;
    background-color: var(--accent-txt-color);
    border-radius: 2px;
    /* outline: 2px solid red; */
}

.header-link 
{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--subtitle-txt);

    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus 
{
    color: var(--accent-txt-color);
}

/* link to page */


.link, .card-text 
{
    color: var(--primary-txt-color);
}
.contact-link .link,
.contact-tel .link 
{
    display: flex;
    align-items: center;
}
.link 
{
    display: flex;
        
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;
    text-decoration: none;
    
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
    fill: currentColor;
    margin-right: 10px;
}

.link-map
{
    display: block;
    margin-top: 20px;

    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.71;

    color: var(--bcg-color);

    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.link:hover, .link:focus, .link-map:hover, .link-map:focus
{  
    color: var(--accent-txt-color);
}
/* Block Hero */
.hero 
{
    position: relative;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: var(--hero-bcg);
    
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img.jpg);
        
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.hero-title 
{
    display: block;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    
    color: var(--bcg-color);
    
}

.button 
{
    position: absolute;
    left: 44%;
    bottom: 34%;
    transform: translate(-50%, -50%);
    display: inline-block;
    border-radius: 4px;
    min-width: 200px;
    
    padding: 10px 32px;
    border: none;

    align-items: center;
    text-align: center;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    background-color: var(--background); 
    color: var(--subtitle-txt);
}

.button.primary
{
    margin-top: 30px;
    color: var(--bcg-color);
    background-color: var(--accent-txt-color);
    box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%), 0px 2px 2px rgb(0 0 0 / 12%);
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button.primary:hover, .button-primary:focus
{
    background-color: #188CE8;
}

.form-button {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    display: inline-block;
    border-radius: 4px;
    min-width: 200px;

    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    border: none;

    align-items: center;
    text-align: center;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    background-color: var(--background);
    color: var(--subtitle-txt);
}
.form-button.primary {
    margin-top: 30px;
    color: var(--bcg-color);
    background-color: var(--accent-txt-color);
    box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%), 0px 2px 2px rgb(0 0 0 / 12%);
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button.primary:hover,
.form-button-primary:focus {
    background-color: #188CE8;
}

.checkbox
{
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}


.checkbox-text
{
    display: inline-block;
    margin-left: 8px;
}

.form-icon
{
    position: absolute;
    content: '';
    top: 50%;
    left: 2%;
    
}



.backdrop
{
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.2);;
    transition: opacity var(--animation-transition),
    visibility var(--animation-transition);
}

.is-hidden
{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.modal 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: var(--bcg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.closes
{
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
}
.modal-close
{
    width: 11px;
    height: 11px;
}



.backdrop-item {
    position: relative;
    min-width: 448px;

    justify-content: flex-start;
}

.backdrop-item:not(:last-child) {
    margin-bottom: 10px;
}

.title {
    margin-bottom: 12px;
    
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15em;
    text-align: center;
    
    color: #212121;
}

input
{
    min-height: 40px;
}

textarea
{
    
    min-height: 138px;
    resize: none;
    display: block;
    width: 448px;
    height: 120px;
    
    font-style: normal;
    
    font-size: 12px;
    line-height: 14px;

    letter-spacing: 0.01em;

    color: #757575;
}

.backdrop-label
{
    display: block;
    width: 100%;
    margin-bottom: 4px;

    font-family: 'Roboto';
    
    
    font-size: 12px;
    line-height: 1.17em;
        
    letter-spacing: 0.01em;

    color: #757575;
}

.backdrop-input
{
    display: block;
    width: 448px;
    height: 40px;
    
    padding-left: 40px;
    
    font-style: normal;
    
    font-size: 12px;
    line-height: 1.17em;

    letter-spacing: 0.01em;

    color: #757575;
}
input, textarea {border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;}

input:hover, input:focus, textarea:hover, textarea:focus
 {  border: 1px solid #2196F3;
    border-radius: 4px;
}

input .check-input
{
    display: block;
    max-width: 100%;
    max-height: 100%;
}
/* Benefits */

.icon-benefits 
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--background);
    border-radius: 4px;
    z-index: 5;
}

.icon-benefits:hover 
{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work 
{
    padding-bottom: 94px;
}

.command 
{
    padding: 30px 0;
}



.work-title, .command-title, .client-title
{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    
    color: var(--subtitle-txt);
}

.client-title
{
    
    font-size: 36px;
}
.section 
{
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title 
{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--subtitle-txt); 
}
.section-item 
{
    display: block;
    text-align: left;
    max-width: 270px;
    
}
.section-item:not(:first-child) {
    margin-left: 30px;
}

.section-item .text 
{   
    
    color: var(--primary-txt-color);
}

.section-command 
{
    
    background-color: var(--background);
}

.command-img 
{
    display: block;
    margin-right: 0;
}
.command-item, .work-item 
{
    /* flex-grow: 1; */
    min-width: 270px;
}
.command-item .subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-transform: capitalize;
    text-align: center;
    color: var(--subtitle-txt);
}
.command-item .text 
{
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--primary-txt-color);
}

/* посилання на соцмережі */
.social-media-list 
{
    display: flex;
    justify-content: center;
    gap: 10px;
}


.social-media-link 
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: #AFB1B8;
    /* background-color: #fff; */
    border-radius: 50%;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.social-media-link:hover,
.social-media-link:focus
{
    background-color: var(--accent-txt-color);
    color: #FFFFFF;
    
}

.social-media-icon {fill: currentColor;}

.social-media-icon-footer {
    fill: #FFFFFF;

}


.social-media-link-visit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--bcg-color);

    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
    
}

.social-media-link-visit:hover,
.social-media-link-visit:focus {
    background-color: var(--accent-txt-color);
}

.visit
{
    margin-left: 70px;
}

.visit-join 
{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--main-font-size);
    color: var(--bcg-color);
}


.section-list, .work-list, 
.command-list, .header-list, 
.filter-list, .card-list, .list 
{
    padding: 0px;
    list-style: none;
}

.section-list,
.work-list,
.command-list, .header-nav
{
    display: flex;
    justify-content: space-between;
}
.section-list .section-item + .section-item, 
.work-list .work-item + .work-item, 
.command-list .command-item + .command-item,
.card-list .card-item + .card-item
{
    margin-right: 0;
    /* margin-left: 30px; */
}

.section-list
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.command-item 
{
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    background-color: var(--bcg-color);
}

/* Чем мы занимаемся */
.img-wrapper 
{
    position: relative;
    
}

.work-img 
{
    display: block;
}

.desc 
{
    
    position:absolute;
    bottom: 0;
    left: 0;

    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    font-weight: 700;
    line-height: 1.14;
    
    text-transform: uppercase;
    
    background: rgba(47, 48, 58, 0.8);
    color: #FFFFFF;
}


.header-list .header-item + .header-item 
{
    margin-left: 50px;
}
.header-list 
{
    margin-left: 93px;
    }
.list-contact .contact-link + .contact-tel 
{
    margin-left: 50px;
}
.list-contact {justify-content: flex-end;}

/* Постоянные клиенты */

.clients {
    padding: 94px 0;
}

.client-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 30px;
}



.client-link {
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    border: 1px solid #AFB1B8;
    border-radius: 4px;

    color: #AFB1B8;
    
    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.client-link:hover,
.client-link:focus {
    color: var(--accent-txt-color);
    border: 1px solid var(--accent-txt-color);
}

.client-icon
{
    width: 106px;
    height: 60px;
    fill: currentColor;
}


/* Filter on page two */
.filter-list, .header-list
{
    display: flex;
    justify-content: center;
    }

.filter-list .item-btn:not(:last-child) 
{
   margin-right: 8px;
}

.filter-btn.current,
.filter-btn:hover,
.filter-btn:focus {
    
    color: var(--bcg-color);
    background-color: var(--accent-txt-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-btn
{
    padding: 6px 22px;
    font-family: var(--main-font), sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    
    letter-spacing: 0.03em;;
    cursor: pointer;
    color: var(--subtitle-txt);

    background: #F5F4FA;
    border-radius: 4px;
    border: none;
    text-transform: none;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Content card */


.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card-item {
    width: 370px; 
}

.card-art {
    display: block;
    text-decoration: none;
}

.card-art:hover, .card-art:focus
{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-slider
{
    position: relative;
    overflow: hidden;
    width: 370px;
    
}

*,
::before,
::after {
    box-sizing: border-box;
}

.card-art:hover .text-overlay, .card-art:focus .text-overlay
{
    transform: translateY(0);
}

.card-art:hover .text-item,
.card-art:focus .text-item {
    
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow var(--animation-transition);
    overflow: visible;
    opacity: 1;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(100%);

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 63px;
    padding-left: 24px;

    backdrop-filter: blur(5px);
    background-color: var(--accent-txt-color);

    transition: transform var(--animation-transition);
}

.card-img {display: block;}

.text-desc {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    
    transition: transform 250ms cubic-bezier (0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.56;

    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 63px;
    padding-left: 24px;

    background-color: rgba(33, 150, 243, 0.9);
    color: var(--bcg-color);
}

.card {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.card-title 
{
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    text-transform: capitalize;
    letter-spacing: 0.06em;
    color: var(--subtitle-txt);
}
.card-text 
{
    text-transform: capitalize;
}

/* Footer */
.footer 
{
    padding: 60px 0;
    background-color: var(--hero-bcg);
}

.footer-flex {
    display: flex;
    align-items: baseline;

}

.form
{
    position: relative;
    margin-left: auto;
    
}



.form-write
{
    display: block;
    
    margin-bottom: 20px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14em;
    
    text-transform: uppercase;

    color: #FFFFFF;
}

.form-field
{
    display: flex;
    align-items: center;
    justify-content: left;
}

.register
{
    display: flex;
    align-items: center;
    
}



.register-input {
    display: block;
    width: 358px;
    height: 50px;

    padding-left: 40px;
    
    font-size: 12px;
    line-height: 1.17em;

    letter-spacing: 0.01em;

    color: #757575;
    background-color: var(--hero-bcg);

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    
    border-radius: 4px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.register-input::placeholder
{
    display: flex;
    align-items: center;
        
    font-size: 16px;
    line-height: 1.25em;
    
    color: rgba(255, 255, 255, 0.6);
}

.glider-send {
    position: absolute;
    content: '';
    top: 30%;
    right: 8%;
    display: block;
    fill: #FFFFFF;
    width: 24px;
    height: 24px;
}

.footer-btn
{   
    position: relative;
    display: inline-block;
    border-radius: 4px;
    min-width: 200px;

    margin-left: 12px;
    padding: 10px 32px;
    border: none;

    align-items: center;
    text-align: baseline;
    
    text-transform: capitalize;
    cursor: pointer;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    background-color: var(--background);
    color: var(--subtitle-txt);
}

.footer-btn.primary
{
    
    color: var(--bcg-color);
    background-color: var(--accent-txt-color);
    box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%), 0px 2px 2px rgb(0 0 0 / 12%);
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn.primary:hover,
.footer-btn-primary:focus {
    background-color: #188CE8;
}


